.main-image {
  border-radius: 10px;
  height: 400px;
  object-fit: cover;
}

.thumbnail-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px; /* Küçük kartlar arasına boşluk */
}

.custom-thumbnail {
  width: 100px; /* Küçük kartların genişliği */
  height: 100px; /* Küçük kartların yüksekliği */
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out; /* Yakınlaşma efekti */
  cursor: pointer;
}

.custom-thumbnail:hover {
  transform: scale(1.1); /* Yakınlaşma efekti */
  border: 2px solid #007bff; /* Hover durumunda mavi çerçeve */
}

.car__info {
  padding-top: 20px;
}

.section__title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.section__description {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
  max-height: 400px;
  overflow-y: auto; /* Uzun yazılar için kaydırma ekler */
}
